* {
  margin: 0;
  padding: 0; }

.clear {
  clear: both; }

h1,
h2 {
  line-height: 100%; }

h1 {
  font-family: "League Gothic";
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase; }

h2 {
  font-family: "Garamond";
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1.5px; }

body {
  background-color: #c8c8c8; }

.page {
  background-color: white;
  margin: 50px auto;
  padding: 20px;
  position: relative;
  width: 1060px; }
  .page h1,
  .page h2 {
    text-align: center; }
  .page h2 {
    margin-top: 20px; }
    .page h2 span.username {
      font-style: normal;
      font-variant: small-caps;
      font-weight: 800;
      text-transform: lowercase; }
  .page h1 {
    margin-top: 10px; }

nav {
  margin-top: 30px;
  width: 100%;
  height: 50px; }

nav > ul {
  width: 100%;
  height: 50px; }

nav > ul li {
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  color: #646464;
  cursor: pointer;
  display: block;
  float: left;
  font-family: "League Gothic";
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 50px;
  list-style: none;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  height: 50px; }
  nav > ul li a {
    color: inherit;
    display: block;
    position: relative;
    text-decoration: none;
    width: 100%;
    height: 100%; }
  nav > ul li ul {
    display: none;
    position: relative;
    top: 1px; }
    nav > ul li ul li {
      background-color: white;
      border-top: none;
      z-index: 2; }

table {
  display: block;
  margin: 20px auto; }
  table tr {
    border-bottom: 1px solid #c8c8c8;
    border-collapse: collapse;
    display: block;
    margin: 0; }
    table tr td,
    table tr th {
      border-right: 1px solid #c8c8c8;
      margin: 0;
      font-size: 12px;
      line-height: 12px;
      padding: 18px 10px;
      text-align: left;
      width: 100px; }
    table tr td:first-child,
    table tr th:first-child {
      border-left: 1px solid #c8c8c8; }
    table tr th {
      background-color: #c8c8c8; }
  table tr:first-child {
    border-top: 1px solid #c8c8c8; }

table.users {
  width: 480px; }

table.books {
  width: 840px; }

h1.response {
  color: red;
  margin: 20px 0 0 0;
  font-size: 20px; }

form {
  margin: 30px auto;
  width: 464px; }
  form h1 {
    font-size: 20px;
    margin: 0; }
  form h2.form-subtitle {
    margin-top: 0;
    margin-bottom: 20px; }
  form .select-wrapper {
    background-color: #fafafa;
    border: 1px solid #969696;
    border-radius: 5px;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
    color: black;
    float: left;
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    width: 200px;
    height: 15px; }
    form .select-wrapper label {
      font-family: "Helvetica Neue"; }
    form .select-wrapper select {
      float: right; }
  form input[type="text"],
  form input[type="password"] {
    background-color: #fafafa;
    border: 1px solid #969696;
    border-radius: 5px;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
    color: black;
    float: left;
    font-family: "Helvetica Neue", "Helvetica";
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    width: 200px;
    height: 15px; }
  form input[type="submit"] {
    background: linear-gradient(bottom, #c8c8c8 0%, #d2d2d2 50%, #fafafa 100%);
    background: -moz-linear-gradient(bottom, #c8c8c8 0%, #d2d2d2 50%, #fafafa 100%);
    border: 1px solid #969696;
    border-radius: 10px;
    color: #646464;
    cursor: pointer;
    display: block;
    float: left;
    font-weight: 800;
    margin-top: 10px;
    margin-right: 10px;
    width: 100px;
    height: 30px; }
  form input[type="text"].book-search {
    width: 400px; }

.autocomplete {
  background-color: #e1e1e1;
  font-family: "Helevetica Neue", "Helvetica";
  font-size: 13px;
  margin-top: 1px;
  padding: 0 10px; }
  .autocomplete div {
    padding: 10px; }
  .autocomplete .selected {
    background-color: #c8c8c8; }
